@model MaintenanceModel
@{
    //page title
    ViewBag.Title = T("Admin.System.Maintenance").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-system.png")" alt="" />
        @T("Admin.System.Maintenance")
    </div>
    <div class="options">
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table width="100%">
        <tr>
            <td colspan="2">
                <strong>@T("Admin.System.Maintenance.DeleteGuests")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeleteGuests.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteGuests.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeleteGuests.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteGuests.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeleteGuests.OnlyWithoutShoppingCart):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteGuests.OnlyWithoutShoppingCart)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="delete-guests" class="k-button" value="@T("Admin.Common.Delete")" />
            </td>
        </tr>
        @if (Model.DeleteGuests.NumberOfDeletedCustomers.HasValue)
        {
            <tr>
                <td colspan="2">
                    <strong>@string.Format(T("Admin.System.Maintenance.DeleteGuests.TotalDeleted").Text, Model.DeleteGuests.NumberOfDeletedCustomers.Value)</strong>
                </td>
            </tr>
        }
    </table>
    <p>
        <hr />
    </p>
    <table width="100%">
        <tr>
            <td colspan="2">
                <strong>@T("Admin.System.Maintenance.DeleteAbandonedCarts")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeleteAbandonedCarts.OlderThan):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteAbandonedCarts.OlderThan)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="delete-abondoned-carts" class="k-button" value="@T("Admin.Common.Delete")" />
            </td>
        </tr>
        @if (Model.DeleteAbandonedCarts.NumberOfDeletedItems.HasValue)
        {
            <tr>
                <td colspan="2">
                    <strong>@string.Format(T("Admin.System.Maintenance.DeleteAbandonedCarts.TotalDeleted").Text, Model.DeleteAbandonedCarts.NumberOfDeletedItems.Value)</strong>
                </td>
            </tr>
        }
    </table>
    <p>
        <hr />
    </p>
    <table width="100%">
        <tr>
            <td colspan="2">
                <strong>@T("Admin.System.Maintenance.DeleteExportedFiles")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeleteExportedFiles.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteExportedFiles.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DeleteExportedFiles.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DeleteExportedFiles.EndDate)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="delete-exported-files" class="k-button" value="@T("Admin.Common.Delete")"/>
            </td>
        </tr>
        @if (Model.DeleteExportedFiles.NumberOfDeletedFiles.HasValue)
        {
            <tr>
                <td colspan="2">
                    <strong>@string.Format(T("Admin.System.Maintenance.DeleteExportedFiles.TotalDeleted").Text, Model.DeleteExportedFiles.NumberOfDeletedFiles.Value)</strong>
                </td>
            </tr>
        }
    </table>
    <p>
        <hr/>
    </p>
    <style type="text/css">

        table.backup th {
            background-color: RGB(184, 204, 228);
            width: 20%
        }
        table.backup td {
            text-align: center;
        }
        table.backup td.left {
            text-align: left;
            font-style: italic;
            font-weight: bold;
        }
    </style>
    <div id="backup-data"></div>
    <table width="100%" class="backup">
        <thead>
        <tr>
            <td colspan="4" style="border: none; text-align: left"><strong>@T("Admin.System.Maintenance.BackupDatabase.BackupsDatabases")</strong></td>
            <td style="border: none; text-align: right;">
                <input type="submit" name="backup-database" class="k-button" value="@T("Admin.System.Maintenance.BackupDatabase.BackupNow")"/>
            </td>
        </tr>
        <tr style="border: 1px solid">
            <th>@T("Admin.System.Maintenance.BackupDatabase.FileName")</th>
            <th>@T("Admin.System.Maintenance.BackupDatabase.FileSize")</th>
            <th>@T("Admin.System.Maintenance.BackupDatabase.Download")</th>
            <th>@T("Admin.System.Maintenance.BackupDatabase.Restore")</th>
            <th>@T("Admin.System.Maintenance.BackupDatabase.Delete")</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var file in Model.BackupFiles)
        {
            <tr>
                <td class="left">
                    @file.Name
                </td>
                <td>
                    @string.Format("{0:F2} Mb", @file.Length/1024f/1024f)
                </td>
                <td>
                    <input type="submit" class="k-button" value="@T("Admin.System.Maintenance.BackupDatabase.Download")" onclick='DownloadBackup("@file.Name", "download-backup")'/>
                </td>
                <td>
                    <input type="submit" class="k-button" value="@T("Admin.System.Maintenance.BackupDatabase.Restore")" onclick='DownloadBackup("@file.Name", "restore-backup")'/>
                </td>
                <td>
                    <input type="submit" class="k-button" value="@T("Admin.System.Maintenance.BackupDatabase.Delete")" onclick='DownloadBackup("@file.Name", "delete-backup")'/>
                </td>
            </tr>
        }

        </tbody>
    </table>

    <script type="text/javascript">
       function DownloadBackup(fileName, action) {
           $("#backup-data").append('<input type="hidden" name="buckupFileName" value="' + fileName + '"/>');
           $("#backup-data").append('<input type="hidden" name="action" value="' + action + '"/>');
       };
    </script>
}